<dialog id="action-bar-dialog" class="action-bar-modal">
    <div class="container">
        <header class="header">
            <h2>Bibliothèque de composants</h2>
            <form method="dialog">
                <slot name="close-button">
                    <button class="default-close">×</button>
                </slot>
            </form>
        </header>
        <div class="content">
            <nav class="groups-sidebar">
                <slot name="group"></slot>
            </nav>
            <main class="blocs-grid">
            </main>
        </div>
    </div>
</dialog>