<p9r-attr-sync>
    <p9r-section data-title="Dimensions">
        <p9r-select name="max-width" label="Content width">
            <option value="680">Article (680px)</option>
            <option value="1000">Small (1000px)</option>
            <option selected value="1280">Standard (1280px)</option>
            <option value="1512">Large (1512px)</option>
            <option value="fit-content">Fit content</option>
            <option value="max-content">Max content</option>
        </p9r-select>
        <p9r-select name="align" label="Alignment">
            <option value="flex-start">Left</option>
            <option selected value="center">Center</option>
            <option value="flex-end">Right</option>
        </p9r-select>
    </p9r-section>
    <p9r-section data-title="Spacings">
        <p9r-sizes-select name="padding-y" label="Block padding"></p9r-sizes-select>
        <p9r-sizes-select name="gap" label="Gap"></p9r-sizes-select>
    </p9r-section>
    <p9r-section data-title="Background">
        <p9r-select name="bg" label="Background (full width)">
            <option selected value="none">None</option>
            <option value="base">Base</option>
            <option value="surface">Surface</option>
            <option value="overlay">Overlay</option>
            <option value="primary">Primary</option>
            <option value="secondary">Secondary</option>
        </p9r-select>
        <p9r-select name="inner-bg" label="Background (content)">
            <option selected value="none">None</option>
            <option value="base">Base</option>
            <option value="surface">Surface</option>
            <option value="overlay">Overlay</option>
        </p9r-select>
        <p9r-sizes-select name="inner-padding" label="Inset padding"></p9r-sizes-select>
        <p9r-range name="inner-radius" label="Inset rounded" min="0" max="32" step="1" value="0" unit="px"></p9r-range>
        <p9r-select name="text-color" label="Text Color">
            <option selected value="auto">Auto</option>
            <option value="dark">Dark</option>
            <option value="light">Light</option>
        </p9r-select>
    </p9r-section>
</p9r-attr-sync>

<p9r-comp-sync allow-multiple>
    <p>Stack content...</p>
</p9r-comp-sync>
