<p9r-attr-sync>
    <p9r-section data-title="Configuration">
        <input 
            type="range"
            name="min-item-width"
            min="150" 
            max="1500" 
            step="1"
            value="300"
        >
        <input 
            type="range"
            name="fixed-height"
            min="150" 
            max="1500" 
            step="1"
            value="350"
        >
        <select name="spacing">
            <option selected value="16">Small</option>
            <option value="32">Medium</option>
            <option value="64">Large</option>
        </select>
    </p9r-section>
</p9r-attr-sync>

<p9r-comp-sync optionnal>
    <span slot="title">Contenu de la grille</span>
</p9r-comp-sync>

<p9r-comp-sync allow-multiple inline-adding>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore voluptates rem nisi! Corrupti, praesentium blanditiis voluptatem eum qui, animi voluptatibus et sint asperiores laboriosam earum unde iure, eos iste eaque.</p>
</p9r-comp-sync>