:host {

    --grid-gap: attr(spacing px, 32px);
    --grid-item-min-width: attr(min-item-width px, 400px);

    --grid-padding: 1rem;
    --grid-title-color: var(--primary-base);

    --grid-item-fixed-height: attr(fixed-height px, unset);
    
    display: block;
    width: 100%;
}

.grid-content {
    display: grid;
    grid-template-columns: repeat(
        auto-fill, 
        minmax(min(var(--grid-item-min-width), 100%), 1fr)
    );
    
    gap: var(--grid-gap);
    align-items: start;
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
}

::slotted(*) {
    min-width: 0; 
    width: 100%;
    max-width: unset;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}