<w13c-lateral-dialog>
  <form action="">
    <w13c-input placeholder="My hero section" name="name">
      <span slot="label">Name</span>
    </w13c-input>
    <w13c-input placeholder="A short description" name="description">
      <span slot="label">Description</span>
    </w13c-input>
    <w13c-input placeholder="hero, layout, cta…" name="category">
      <span slot="label">Category</span>
    </w13c-input>

    <div></div>
    <p9r-button fullwidth type="submit" variant="filled" color="primary">
      Save
    </p9r-button>
  </form>
  <span slot="title">Template configuration</span>
</w13c-lateral-dialog>
