<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Templates</title>
    
    <link rel="stylesheet" href="../css/style.css">
    <script src="./script.js"></script>
    <script src="./templates.js" defer></script>

</head>
<body>
    <w13c-fixed-admin-layout>
        <span slot="title">Templates</span>
        <a slot="action" href="./templates/editor">
            <p9r-button color="primary">+ New template</p9r-button>
        </a>

        <p9r-table>
            <p9r-row slot="header">
                <p9r-cell>Name</p9r-cell>
                <p9r-cell>Category</p9r-cell>
                <p9r-cell>Created</p9r-cell>
                <p9r-cell></p9r-cell>
            </p9r-row>
        </p9r-table>
    </w13c-fixed-admin-layout>
</body>
</html>
